.header {
    background-color: rgba(255, 247, 247, 0.58);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.0rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 650;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}